*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #EEF1FF;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

body{
    font-family: 'Fira Code', monospace;
    background-color: #E5E5E5;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}