*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #060A2B;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

body{
    font-family: 'Fira Code', monospace;
    background-color: #F8F9FA;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

p{
    font-family: 'Poppins', sans-serif;
}